---
import Layout from "../layouts/Layout.astro";
import Intro from "src/components/Intro.astro";
import Stars from "src/islands/Stars";
import About from "src/components/About.astro";
import Projects from "src/components/Projects.astro";
import Contact from "src/islands/Contact";
import Footer from "src/components/Footer.astro";
---

<Layout title="Abdelhak Ajbouni Portfolio - Fullstack JavaScript Developer">
  <header
    class:list={[
      "relative h-[calc(100vh-10rem)]",
      "bg-gradient-to-t from-slate-700 via-slate-800 to-slate-800",
    ]}
  >
    <Intro />
    <Stars client:only="react" />
  </header>
  <main>
    <About />
    <Projects />
    <Contact client:only="react" />
  </main>
  <footer class="mt-4 md:mt-8">
    <Footer />
  </footer>
</Layout>
