---
import Layout from "../layouts/Layout.astro";
import Intro from "src/components/Intro.astro";
import Stars from "src/islands/Stars";
import About from "src/components/About.astro";
import Contact from "src/islands/Contact"
import Footer from "src/components/Footer.astro";
---

<Layout title="Abdelhak Ajbouni">
  <header
    class="relative h-[calc(100vh-10rem)] bg-gradient-to-t from-slate-700 via-slate-800 to-slate-800"
  >
    <Intro />
    <Stars client:only="react" />
  </header>
  <main>
    <About />
    <Contact client:only="react" />
    <Footer />
  </main>
</Layout>
