---
import { Icon } from "astro-icon";
---

<div class="connections w-2">
  <div class="flex">
    <a
      href="https://www.linkedin.com/in/abdelhak-ajbouni-8a9b21151/"
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        class="text-3xl text-gray-500 w-8 cursor-pointer"
        name="ant-design:linkedin-filled"
      />
    </a>
    <a
      href="https://github.com/abdelhak-ajbouni"
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        class="text-3xl text-gray-500 w-8 cursor-pointer"
        name="ant-design:github-filled"
      />
    </a>
  </div>
</div>
