<div class="connections">
  <div class="flex">
    <a
      href="https://www.linkedin.com/in/abdelhak-ajbouni-8a9b21151/"
      target="_blank"
      rel="noreferrer"
    >
      <img
        class="text-3xl text-gray-300 w-8 cursor-pointer"
        src="/icons/linkedin.svg"
        alt="linkedin"
        height="32"
        width="32"
      />
    </a>
    <a
      href="https://github.com/abdelhak-ajbouni"
      target="_blank"
      rel="noreferrer"
    >
      <img
        class="text-3xl text-gray-300 w-8 cursor-pointer"
        src="/icons/github.svg"
        alt="github"
        height="32"
        width="32"
      />
    </a>
  </div>
</div>
