---
import { Icon } from "astro-icon";
---

<div class="connections">
  <div class="flex">
    <a
      href="https://www.linkedin.com/in/abdelhak-ajbouni-8a9b21151/"
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        class="text-3xl text-gray-300 w-6 h-6 cursor-pointer"
        name="mdi:linkedin"
      />
    </a>
    <a
      href="https://github.com/abdelhak-ajbouni"
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        class="text-3xl text-gray-300 w-6 h-6 cursor-pointer"
        name="mdi:github"
      />
    </a>
  </div>
</div>
