---
import Container from "src/components/common/Container.astro";
import Divider from "src/components/common/Divider.astro";
---

<footer class="mt-4">
  <Divider />
  <Container className="py-2 md:py-4 flex justify-end">
    <p class="text-sm md:text-base mx-2 text-gray-300">
      built with <a class="text-purple-600" href="https://astro.build" target="_blank" >Astro</a>
    </p>
  </Container>
</footer>
